# Telegram required
API_ID=цифры
API_HASH="строка"
SESSION_STRING="строка"
AUTH_METHOD="qr"
FORCE_SMS="false"

# Send mode
SEND_MODE="schedule"

# Saved Messages behavior
SAVED_MESSAGES_N="1"
SAVED_MESSAGES_INTERVALS="2-1-2"

# Discord optional
DISCORD_USER_TOKEN=""
DISCORD_GUILD_ID=""

# Optional scheduler script values
SCHEDULE_HOUR="12"
SCHEDULE_MINUTE="0"
SCHEDULE_START_IMMEDIATELY="false"

# Optional bootstrap flag
ARCHIVE_ONLY="false"
